.main {  
  width: 100%;  
  padding-top:10px;
  height:340px;
}
.info {  
  width: 67%;
  height:30px;
  margin: 0 auto;  
  margin-bottom:15px;
}
.game {
  float:left;
  width: 250px;
  height:30px;
  padding-left:2%;
  margin: 0 auto;  
  margin-left:5px;
  font-size:11px;
}
.game_title {
  border: solid 1px #ccc;
  float:left;
  height:30px;
  width: 62px;
  line-height:30px;
  text-align:center;
}
.game_no {
  border: solid 1px #ccc;
  border-left: solid 0px #ccc;
  float:left;
  height:30px;
  width: 62px;
  line-height:30px;
  text-align:center;
}
.info_menu {  
  width: 100%;
  margin-left:20px;
  height:30px;
  border: solid 1px #ccc;
  border-right: solid 0px #ccc;
}
.info_menu div {  
  float:left;
  border: solid 0px #ccc;
  border-right: solid 1px #ccc;
  width: 48%;
  height:30px;
  line-height:30px;
  padding-left:2%;
  font-size:11px;
}
.place {  
  border: solid 1px #ccc;
  width: 500px;  
  height:100px;
  margin: 0 auto;  
  margin-bottom:4px;
}
.place ul {
  text-align: center;
}
.place ul li {  
  display: inline-block;
  width: 60px;
  margin-right: 30px;  
}  
.players {  
  margin: 0 auto;  
}
.players ul {
  text-align: center;
}
.players ul li {  
  display: inline-block;
  list-style: none;
  width: 165px;
  height:30px;
  margin-right: 10px;  
  margin-bottom:12px;
}  
.player {
  border: solid 1px #ccc;
  height:125px;
}
.player_name {
  border-bottom: solid 1px #ccc;
  font-size:11px;
  height:20px;
}
.player_place_cards {
  border-bottom: solid 1px #ccc;
  font-size:11px;
  height:32px;
}
.player_place_cards ul {
  text-align:center;
  margin: 3px;  
  padding:0px;
}
.player_place_cards ul li {  
  width: 20px;
  margin: 1px;  
}  
.player_place_cards ul li img {  
  width: 20px;
}  
.player_place_cards span {  
  height:32px;
  line-height:32px;
  font-size:11px;
}  
.player_cards {
  font-size:11px;
}
.player_cards ul {
  text-align:left;
  margin: 3px;  
  padding:0px;
}
.player_cards ul li {  
  width: 20px;
  margin: 1px;  
}  
.player_cards ul li img {  
  width: 20px;
}  

