button {
  width: 60px;  
  text-align:center;
}
.place {  
  width: 500px;  
  height:100px;
  margin-top:20px;
  margin: 0 auto;  
  margin-bottom:4px;
}
.place ul {
  text-align: center;
}
.place ul li {  
  display: inline-block;
  width: 60px;
  margin-right: 30px;  
}  
.players {  
  margin: 0 auto;  
  height:150px;
}
.players ul {
  text-align: center;
}
.players ul li {  
  display: inline-block;
  list-style: none;
  width: 165px;
  height:30px;
  margin-right: 10px;  
  margin-bottom:12px;
}  
.player {
  border: solid 1px #ccc;
  height:125px;
}
.player_name {
  border-bottom: solid 1px #ccc;
  font-size:11px;
  height:20px;
}
.player_place_cards {
  border-bottom: solid 1px #ccc;
  font-size:11px;
  height:32px;
}
.player_place_cards ul {
  text-align:center;
  margin: 3px;  
  padding:0px;
}
.player_place_cards ul li {  
  width: 20px;
  margin: 1px;  
}  
.player_place_cards ul li img {  
  width: 20px;
}  
.player_place_cards span {  
  height:32px;
  line-height:32px;
  font-size:11px;
}  
.player_cards {
  font-size:11px;
}
.player_cards ul {
  text-align:left;
  margin: 3px;  
  padding:0px;
}
.player_cards ul li {  
  width: 20px;
  margin: 1px;  
}  
.player_cards ul li img {  
  width: 20px;
}  

