<!DOCTYPE html>
<html>
<head>
  <title>Daihinmin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w{ jquery jquery-ui rails application  } %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
