<% if authenticated? %>
  Logined.
<% else %>
  Not Logined.
<% end %>
<p>
Msg:<%= flash[:notice] %>
</p>
<p>
Name:<%= @player.user.name %>
</p>
<p>
Place:<%= @player.place.title %>
</p>
<%= button_to 'logout', logout_path %>

